/*
 * Custom overrides for BookReader Demo.
 */

/* Hide print and embed functionality */
#BRtoolbar .embed, .print {
    display: none;
}



#BRembedreturn {
    /* Center text */
    font-size: 14px;
    line-height: 40px;
    height: 40px;
    
    font-family: "Lucida Grande","Arial",sans-serif;
}

#BRembedreturn a {
    font-size: 14px;
    color: #fff;
}

